

<header>
 <div class="container">
   <a href="#" class='logo'></a>
   <nav>
     <ul>
       <li><a href="#" routerLink="/">Home</a></li>
       <li><a href="#" routerLink="/list">List</a></li>
       </ul>
   </nav>
 </div>
</header>
<div>
  <h3>
  Simple counter
</h3>
<p>counter cliked {{counter}} times</p>
<button (click)="incrementHandler()">Click me</button>
<div>
  
  <input style="margin-top: 1em" type="text" [(ngModel)]="nameInput" placeholder="Type Here"/>
<p>The value typed above is {{nameInput}}</p>
</div>

</div>

<router-outlet></router-outlet>
